html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #2f2a2d;
    padding: 30px 80px;
}

.e-shop {
    color: white;
}

.btn-cart {
    background-color: #fafafa;
    padding: 10px 20px;
    border: 1px solid transparent;
    color: #2f2a2d;
    border-radius: 5px;
    transition: all ease-in-out .4s;
    cursor: pointer;
}

.btn-cart:hover {
    background-color: transparent;
    border-color: #fafafa;
    color: #fafafa;
}

.products {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.product-item {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
}

.by-btn {
    margin-top: 5px;
    background-color: #2f2a2d;
    padding: 10px 20px;
    border: 1px solid transparent;
    color: #fafafa;
    border-radius: 5px;
    transition: all ease-in-out .4s;
    cursor: pointer;
}

.by-btn:hover {
    background-color: transparent;
    border-color: #2f2a2d;
    color: #2f2a2d;
}

img {
    height: 200px;
    width: 300px;
}